{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
    <h1 class="mb-4 text-center">Editar Promoción</h1>

    <form method="POST" class="shadow-lg p-4 bg-white rounded">
        {% csrf_token %}
        <div class="d-flex justify-content-end mb-4">
            <button type="submit" class="btn btn-success me-2">
                <i class="fas fa-save"></i> Actualizar
            </button>
            <button type="button" class="btn btn-danger" onclick="eliminarPromocion({{ promocion.id }})">
                <i class="fas fa-trash-alt"></i> Eliminar
            </button>
        </div>

        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <div class="form-group mb-3">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control {% if form.nombre.errors %}is-invalid{% endif %}" id="nombre" name="nombre" value="{{ promocion.nombre }}" required>
            {% if form.nombre.errors %}
                <div class="invalid-feedback">
                    {{ form.nombre.errors }}
                </div>
            {% endif %}
        </div>

{% load humanize %}

        <div class="form-group">
            <label for="descripcion">Descrpción</label>
            <input type="text" class="form-control {% if form.descripcion.errors %}is-invalid{% endif %}"
                   id="descripcion" name="descripcion" value="{{ promocion.descripcion }}" required
                   oninput="formatCurrency(this)">

            {% if form.descripcion.errors %}
                <div class="invalid-feedback">
                    {{ form.descripcion.errors }}
                </div>
            {% endif %}
        </div>
<br>
        <div class="form-group mb-3">
            <label for="descuento_porcentaje">Descuento porcentaje</label>
            <input type="number" class="form-control {% if form.descuento_porcentaje.errors %}is-invalid{% endif %}" id="descuento_porcentaje" name="descuento_porcentaje" value="{{ promocion.descuento_porcentaje }}" required>
            {% if form.descuento_porcentaje.errors %}
                <div class="invalid-feedback">
                    {{ form.descuento_porcentaje.errors }}
                </div>
            {% endif %}
        </div>

        <!-- Fechas -->
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fecha_inicio">Fecha de Inicio</label>
                    <input type="datetime-local" class="form-control {% if form.fecha_inicio.errors %}is-invalid{% endif %}" id="fecha_inicio" name="fecha_inicio" value="{{ promocion.fecha_inicio|date:'Y-m-d H:i' }}" required>
                    {% if form.fecha_inicio.errors %}
                        <div class="invalid-feedback">
                            {{ form.fecha_inicio.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="fecha_fin">Fecha de Fin</label>
                    <input type="date" class="form-control {% if form.fecha_fin.errors %}is-invalid{% endif %}" id="fecha_fin" name="fecha_fin" value="{{ promocion.fecha_fin|date:'Y-m-d' }}" required>
                    {% if form.fecha_fin.errors %}
                        <div class="invalid-feedback">
                            {{ form.fecha_fin.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="codigo_promocional">Código Promocional (Opcional)</label>
            <input type="text" class="form-control {% if form.codigo_promocional.errors %}is-invalid{% endif %}" id="codigo_promocional" name="codigo_promocional" value="{{ promocion.codigo_promocional }}">
            {% if form.codigo_promocional.errors %}
                <div class="invalid-feedback">
                    {{ form.codigo_promocional.errors }}
                </div>
            {% endif %}
        </div>

        <div class="form-group mb-3">
            <label for="condiciones">Condiciones</label>
            <textarea class="form-control {% if form.condiciones.errors %}is-invalid{% endif %}" id="condiciones" name="condiciones" rows="3">{{ promocion.condiciones }}</textarea>
            {% if form.condiciones.errors %}
                <div class="invalid-feedback">
                    {{ form.condiciones.errors }}
                </div>
            {% endif %}
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="cantidad_minima">Cantidad Mínima (Opcional)</label>
                    <input type="number" class="form-control {% if form.cantidad_minima.errors %}is-invalid{% endif %}" id="cantidad_minima" name="cantidad_minima" value="{{ promocion.cantidad_minima }}">
                    {% if form.cantidad_minima.errors %}
                        <div class="invalid-feedback">
                            {{ form.cantidad_minima.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="cantidad_maxima">Cantidad Máxima (Opcional)</label>
                    <input type="number" class="form-control {% if form.cantidad_maxima.errors %}is-invalid{% endif %}" id="cantidad_maxima" name="cantidad_maxima" value="{{ promocion.cantidad_maxima }}">
                    {% if form.cantidad_maxima.errors %}
                        <div class="invalid-feedback">
                            {{ form.cantidad_maxima.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="id_productos_aplicables">Productos Aplicables</label>
            <select multiple class="form-control" id="id_productos_aplicables" name="productos_aplicables" required>
                {% for producto_tienda in productos_tiendas %}
                    <option value="{{ producto_tienda.id }}" {% if producto_tienda.id in productos_aplicables_ids %} selected {% endif %}>
                        {{ producto_tienda.producto.nombre }}
                    </option>
                {% endfor %}
            </select>
            {% if form.productos_aplicables.errors %}
                <div class="text-danger">
                    {{ form.productos_aplicables.errors }}
                </div>
            {% endif %}
        </div>
    </form>
</div>

<script>
function eliminarPromocion(id) {
    if (confirm('¿Estás seguro de que deseas eliminar esta promoción?')) {
        fetch(`{% url 'eliminar_promocion' 0 %}`.replace('0', id), {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (response.ok) {
                window.location.reload();
            } else {
                alert('Error al eliminar la promoción.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Ocurrió un error al intentar eliminar la promoción.');
        });
    }
}
</script>

{% endblock %}
