{% extends 'administrador/base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'css/tienda.css' %}">
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>
<body>
    <main class="table" id="customers_table">
        <section class="table__header">
            <h1>Tiendas</h1>
            <div class="input-group">
                <input type="search" placeholder="Buscar tienda">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="agregarTienda">
                <i title="Agregar tienda" class="fa-solid fa-plus"></i>
            </div>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> # <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Imagen <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Nombre <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Dirección <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Teléfono <span class="icon-arrow">&UpArrow;</span></th>
                        <th> fecha de registro <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Opción <span class="icon-arrow">&UpArrow;</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> 1 </td>
                        <td>
                            <img src="../imag/10711566_2085.jpg" alt="">
                        </td>
                        <td> Tiendas Ara</td>
                        <td> Cra.45 #13-10 </td>
                        <td> 6548752 </td>
                        <td> 31/03/2024 </td>
                        <td><i title="Eliminar" class="fa-solid fa-trash"></i>
                            <i title="Actualizar" class="fa-solid fa-pen-to-square"></i></td>
                    </tr>
                    <tr>
                        <td> 1 </td>
                        <td>
                            <img src="../imag/10711566_2085.jpg" alt="">
                        </td>
                        <td> Tiendas Ara</td>
                        <td> Cra.45 #13-10 </td>
                        <td> 6548752 </td>
                        <td> 31/03/2024 </td>
                        <td><i title="Eliminar" class="fa-solid fa-trash"></i>
                            <i title="Actualizar" class="fa-solid fa-pen-to-square"></i></td>
                    </tr>
                    <tr>
                        <td> 1 </td>
                        <td>
                            <img src="../imag/10711566_2085.jpg" alt="">
                        </td>
                        <td> Tiendas Ara</td>
                        <td> Cra.45 #13-10 </td>
                        <td> 6548752 </td>
                        <td> 31/03/2024 </td>
                        <td><i title="Eliminar" class="fa-solid fa-trash"></i>
                            <i title="Actualizar" class="fa-solid fa-pen-to-square"></i></td>
                    </tr>
                    <tr>
                        <td> 1 </td>
                        <td>
                            <img src="../imag/10711566_2085.jpg" alt="">
                        </td>
                        <td> Tiendas Ara</td>
                        <td> Cra.45 #13-10 </td>
                        <td> 6548752 </td>
                        <td> 31/03/2024 </td>
                        <td><i title="Eliminar" class="fa-solid fa-trash"></i>
                            <i title="Actualizar" class="fa-solid fa-pen-to-square"></i></td>
                    </tr>
                    <tr>
                        <td> 1 </td>
                        <td>
                            <img src="../imag/10711566_2085.jpg" alt="">
                        </td>
                        <td> Tiendas Ara</td>
                        <td> Cra.45 #13-10 </td>
                        <td> 6548752 </td>
                        <td> 31/03/2024 </td>
                        <td><i title="Eliminar" class="fa-solid fa-trash"></i>
                            <i title="Actualizar" class="fa-solid fa-pen-to-square"></i></td>
                    </tr>
                    <tr>
                        <td> 1 </td>
                        <td>
                            <img src="../imag/10711566_2085.jpg" alt="">
                        </td>
                        <td> Tiendas Ara</td>
                        <td> Cra.45 #13-10 </td>
                        <td> 6548752 </td>
                        <td> 31/03/2024 </td>
                        <td><i title="Eliminar" class="fa-solid fa-trash"></i>
                            <i title="Actualizar" class="fa-solid fa-pen-to-square"></i></td>
                    </tr>
                    <tr>
                        <td> 1 </td>
                        <td>
                            <img src="../imag/10711566_2085.jpg" alt="">
                        </td>
                        <td> Tiendas Ara</td>
                        <td> Cra.45 #13-10 </td>
                        <td> 6548752 </td>
                        <td> 31/03/2024 </td>
                        <td><i title="Eliminar" class="fa-solid fa-trash"></i>
                            <i title="Actualizar" class="fa-solid fa-pen-to-square"></i></td>
                    </tr>
                    <tr>
                        <td> 1 </td>
                        <td>
                            <img src="../imag/10711566_2085.jpg" alt="">
                        </td>
                        <td> Tiendas Ara</td>
                        <td> Cra.45 #13-10 </td>
                        <td> 6548752 </td>
                        <td> 31/03/2024 </td>
                        <td><i title="Eliminar" class="fa-solid fa-trash"></i>
                            <i title="Actualizar" class="fa-solid fa-pen-to-square"></i></td>
                    </tr>
                    <tr>
                        <td> 1 </td>
                        <td>
                            <img src="../imag/10711566_2085.jpg" alt="">
                        </td>
                        <td> Tiendas Ara</td>
                        <td> Cra.45 #13-10 </td>
                        <td> 6548752 </td>
                        <td> 31/03/2024 </td>
                        <td><i title="Eliminar" class="fa-solid fa-trash"></i>
                            <i title="Actualizar" class="fa-solid fa-pen-to-square"></i></td>
                    </tr>
                    <tr>
                        <td> 1 </td>
                        <td>
                            <img src="../imag/10711566_2085.jpg" alt="">
                        </td>
                        <td> Tiendas Ara</td>
                        <td> Cra.45 #13-10 </td>
                        <td> 6548752 </td>
                        <td> 31/03/2024 </td>
                        <td><i title="Eliminar" class="fa-solid fa-trash"></i>
                            <i title="Actualizar" class="fa-solid fa-pen-to-square"></i></td>
                    </tr>
                    <tr>
                        <td> 1 </td>
                        <td>
                            <img src="../imag/10711566_2085.jpg" alt="">
                        </td>
                        <td> Tiendas Ara</td>
                        <td> Cra.45 #13-10 </td>
                        <td> 6548752 </td>
                        <td> 31/03/2024 </td>
                        <td><i title="Eliminar" class="fa-solid fa-trash"></i>
                            <i title="Actualizar" class="fa-solid fa-pen-to-square"></i></td>
                    </tr>
                    <tr>
                        <td> 1 </td>
                        <td>
                            <img src="../imag/10711566_2085.jpg" alt="">
                        </td>
                        <td> Tiendas Ara</td>
                        <td> Cra.45 #13-10 </td>
                        <td> 6548752 </td>
                        <td> 31/03/2024 </td>
                        <td><i title="Eliminar" class="fa-solid fa-trash"></i>
                            <i title="Actualizar" class="fa-solid fa-pen-to-square"></i></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <script src="{% static  'js/tienda.js' %}"></script>
    <!-- FontAwesome-->
    <script src="https://kit.fontawesome.com/56cb96873c.js" crossorigin="anonymous"></script> 
</body>
</html>
{% endblock %}