{% extends 'inicio/base_home.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/principalStyle.css' %}">
</head>
<body>

    <div class="login-page">
        <img class="wave" src="https://img.freepik.com/vector-gratis/carro-tienda-edificio-tienda-dibujos-animados_138676-2085.jpg?t=st=1724441264~exp=1724444864~hmac=27f3dd86101bff287d15023b094d4d9edb98aa449e5d344625eaccb93c533b6b&w=740" alt="">
            <div class="container">
                <div class="img">
                    <img src="{% static 'img/10711566_2085.jpg' %}" alt="">
                </div>
                <div class="login-container">
                    <form id="loginForm" method="post">
                        {% csrf_token %}
                        <h2>Inicio de sesión</h2>
                        <div class="input-div one">
                            <div class="i">
                                <i class="fas fa-user"></i>
                            </div>
                            <div>
                                <h5>Usuario</h5>
                                <input name="username" class="input" type="text" required>
                            </div>
                        </div>
                        <div class="input-div two">
                            <div class="i">
                                <i class="fas fa-lock"></i>
                            </div>
                            <div>
                                <h5>Contraseña</h5>
                                <input name="password" class="input" type="password" required>
                            </div>
                        </div>
                        <button class="iniciar_btn" type="submit">Ingresar</button>
                    </form>
                </div>
            </div>
    </div>

    <!-- Modal -->
    <div id="userTypeModal" class="modal" style="display:none;">
        <div class="modal-content">
            <p>¿Desea continuar como cliente o tienda?</p>
            <div class="button-container">
                <button id="clienteButton" class="btn btn-primary">Cliente</button>
                <button id="tiendaButton" class="btn btn-secondary">Tienda</button>
            </div>
        </div>
    </div>
</body>
<script>
    document.getElementById('loginForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const formData = new FormData(this);
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        fetch("{% url 'login' %}", {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': csrftoken,
                'Accept': 'application/json',
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            if (data.success) {
                if (data.role === 'both') {
                    // Mostrar el modal si el usuario tiene ambos registros
                    document.getElementById('userTypeModal').style.display = 'block';
                    // Guardar el nombre de usuario para validaciones posteriores
                    document.getElementById('userTypeModal').setAttribute('data-username', formData.get('username'));
                } else if (data.role === 'cliente') {
                    window.location.href = "{% url 'index_cliente' %}";
                } else if (data.role === 'tienda') {
                    window.location.href = "{% url 'index_tienda' %}";
                }
            } else {
                alert(data.error);
            }
        })
        .catch(error => {
            console.error('Ha habido un problema con su operación de recuperación:', error);
            alert('Error en la conexión. Inténtelo de nuevo más tarde.');
        });
    });

    document.getElementById('clienteButton').addEventListener('click', function() {
        validateUser('cliente');
    });

    document.getElementById('tiendaButton').addEventListener('click', function() {
        validateUser('tienda');
    });

    function validateUser(role) {
        const username = document.getElementById('userTypeModal').getAttribute('data-username');
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const url = role === 'cliente' ? "{% url 'validate_cliente' %}" : "{% url 'validate_tienda' %}";

        fetch(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrftoken,
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: `username=${username}`
        })
        .then(response => response.json())
        .then(data => {
            if (data.valid) {
                const redirectUrl = role === 'cliente' ? "{% url 'index_cliente' %}" : "{% url 'index_tienda' %}";
                window.location.href = redirectUrl;
            } else {
                alert(data.error);
            }
        })
        .catch(error => {
            console.error('Ha habido un problema con su operación de recuperación.:', error);
            alert('Error en la conexión. Inténtelo de nuevo más tarde.');
        });
    }

</script>

    <style>
/* Modal Background */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Modal Content */
.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    margin: auto;
}

/* Flex container for buttons */
.modal-content .button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/* Bootstrap Button Styles */
.modal-content .btn {
    flex: 1;
    margin: 0 5px;
}
    </style>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/56cb96873c.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'myapp/js/login.js' %}"></script>
    <script type="text/javascript" src="{% static 'myapp/js/sweetalert2.mi.js' %}"></script>
{% endblock %}
