{% extends 'administrador/../tiendas/base.html' %}

{% block title %} Actualizar Proveesor {% endblock %}

{% block content %}
    <main>
    <br>
            <h2>Actualizar Proveedor</h2>
                    <form action="{% url 'actualizar_proveedor' proveedor.id %}" method="POST">
                        {% csrf_token %}
                        <div class="inputField">

                            <div>
                                {% if request.user.is_authenticated %}
                                    <label for="txtUsuario" class="form-label">Usuario asignado:</label>
                                    <input class="form-control" type="text" id="txtUsuario" name="txtUsuario" value="{{ request.user.first_name }}" disabled>
                                {% else %}
                                    <p>Error al mostrar el usuario logueado.</p>
                                {% endif %}
                            </div>
                            <div>
                                <label for="city" class="form-label">Razon Social:</label>
                                <input class="form-control" type="text" id="txtRazonSocial" name="txtRazonSocial" value="{{ proveedor.razon_social }}" required>
                            </div>
                            <div>
                                <label for="city" class="form-label">Email:</label>
                                <input class="form-control" type="email" id="txtEmail" name="txtEmail" value="{{ proveedor.email }}" required>
                            </div>
                            <div>
                                <label for="city" class="form-label">Télefono:</label>
                                <input class="form-control" type="number" id="numTelefono" name="numTelefono" value="{{ proveedor.telefono }}" required>
                            </div>
                            <div>
                                <label for="city" class="form-label">Dirección:</label>
                                <input class="form-control" type="text" id="txtdireccion" name="txtdireccion" value="{{ proveedor.direccion }}" required>
                            </div>
                            <div>
                                <label for="phone" class="form-label">Estado:</label>
                                <select id="txtEstado" name="txtEstado" class="form-select" required>
                                    <option value="activo" {% if proveedor.estado == 'activo' %} selected {% endif %}>Activo</option>
                                    <option value="inactivo" {% if proveedor.estado == 'inactivo' %} selected {% endif %}>Inactivo</option>
                                </select>
                            </div>
                        </div>
<br>
                        <div class="form-group">
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                        <button type="button" class="btn btn-secondary" onclick="window.location.href='/index_proveedor'">Volver</button>
                        </div>
                    </form>
    </main>
{% endblock %}