{% extends 'base.html' %}
{% load static %}
{% block content %}
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Proveedor{% endblock %}</title>
  </head>
  <body>
  <main>
    <section class="p-3">
    <h2>Consulta de proveedores</h2><br>
        <!-- Alert Messages -->
        {% if messages %}
          <div class="container mt-3">
            {% for message in messages %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong class="text-dark">{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">&times;</button>
              </div>
            {% endfor %}
          </div>
        {% endif %}
        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary newUser" data-bs-toggle="modal" data-bs-target="#userForm">Registrar proveedor <i class="bi bi-people"></i></button>
            </div>
        </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Razon Social</th>
                            <th>Email</th>
                            <th>Télefono</th>
                            <th>Dirección</th>
                            <th>Estado</th>
                            <th>Fecha de Registro</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for proveedor in proveedores %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'actualizar_proveedor' proveedor.id %}">{{ proveedor.razon_social }}</a></td>
                            <td>{{ proveedor.email }}</td>
                            <td>{{ proveedor.telefono }}</td>
                            <td>{{ proveedor.direccion }}</td>
                            <td>{{ proveedor.estado }}</td>
                            <td>{{ proveedor.fecha_registro }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

    </section>

    <!--Modal Form-->
    <div class="modal fade" id="userForm">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Completa el formulario</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/asignar_proveedor/" method="POST" id="myForm">
                        {% csrf_token %}
                        <div class="inputField">
                            <div>
                                <label for="city" class="form-label">Razon Social:</label>
                                <input class="form-control" type="text" id="txtRazonSocial" name="txtRazonSocial" required>
                            </div>
                            <div>
                                <label for="city" class="form-label">Email:</label>
                                <input class="form-control" type="email" id="txtEmail" name="txtEmail" required>
                            </div>
                            <div>
                                <label for="city" class="form-label">Télefono:</label>
                                <input class="form-control" type="number" id="numTelefono" name="numTelefono" required>
                            </div>
                            <div>
                                <label for="city" class="form-label">Dirección:</label>
                                <input class="form-control" type="text" id="txtdireccion" name="txtdireccion" required>
                            </div>
                            <div>
                                <label for="phone" class="form-label">Estado:</label>
                                <select id="txtEstado" name="txtEstado" class="form-select" required>
                                    <option value="activo">Activo</option>
                                    <option value="inactivo">Inactivo</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" form="myForm" class="btn btn-primary submit">Guardar</button>
                </div>
            </div>
        </div>
    </div>
  </main>
  </body>
</html>
{% endblock %}
