.container_busqueda * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_busqueda {
  width: 90%;
  max-width: 1200px; /* Aumentado para adaptarse a más contenido */
  margin: auto;
  background-color: #FBFDFD;
  font-family: 'Open Sans', sans-serif;
}

.container_busqueda a {
  text-decoration: none;
}

.container_busqueda header {
  padding: 48px 0;
}

.container_busqueda header .logo {
  text-align: center;
  margin-bottom: 40px;
}

.container_busqueda header .logo span {
  color: #494B4D;
  display: block;
  letter-spacing: 0.8px;
  font-size: 16px;
  font-weight: normal;
}

.container_busqueda header form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.container_busqueda header .search-bar {
  background: #FFF;
  border: 1px solid rgba(155,155,155,0.3);
  border-radius: 100px;
  font-size: 16px;
  height: 40px;
  text-align: center;
  width: 70%;
  line-height: 40px;
  padding: 0 20px;
}

.container_busqueda header .categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container_busqueda header .categories a {
  color: #8A8A8C;
  font-size: 16px;
  font-weight: 700;
  margin: 10px 18px;
}

.container_busqueda header .categories a.active {
  color: #000;
}

.container_busqueda .grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espaciado entre elementos */
  justify-content: center; /* Centra los elementos en la fila */
  width: 100%;
}

.container_busqueda .grid .item {
  flex: 1 1 calc(25% - 20px); /* Cuatro columnas con un espacio de 20px entre ellos */
  box-sizing: border-box;
  margin: 10px;
  background: #FFF; /* Fondo blanco para los elementos */
  border: 1px solid rgba(155,155,155,0.15);
  border-radius: 10px;
  overflow: hidden; /* Oculta cualquier contenido que desborde el contenedor */
}

.container_busqueda .grid .item-content {
  width: 100%;
  height: 200px; /* Altura fija para las imágenes */
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_busqueda .grid .item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para que cubra el contenedor sin distorsionarse */
}

/* Media query para pantallas de tamaño pequeño (móviles) */
@media (max-width: 767px) {
  .container_busqueda .grid .item {
    flex: 1 1 calc(50% - 20px); /* Dos columnas con un espacio de 20px entre ellos */
  }
}

.container_busqueda .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.9);
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container_busqueda .overlay.active {
  display: flex;
}

.container_busqueda .overlay img {
  max-width: 90%; /* Ajusta el tamaño de la imagen en el overlay */
  height: auto; /* Mantiene la relación de aspecto */
}

.container_busqueda .container-img {
  position: relative;
}

.container_busqueda .overlay #btn-close-popup {
  background: none;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
}
