{% extends 'clientes/base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/css/prueba.css' %}">

    <div class="container">
        <h1>Carrito de Compras</h1>
        <table id="tabla-carrito" class="table table-bordered">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Subtotal</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="cuerpo-tabla-carrito">
                <!-- Los productos del carrito se insertarán dinámicamente aquí -->
            </tbody>
        </table>

        <p><strong>Subtotal:</strong> $<span id="subtotal-carrito">0.00</span></p>
        <p><strong>IVA (19%):</strong> $<span id="iva-carrito">0.00</span></p>
        <p><strong>Total:</strong> $<span id="total-carrito">0.00</span></p>

        <button id="boton-carrito" class="btn btn-primary">Proceder al Pago</button>

        <!-- Mostrar direcciones registradas -->
        <div id="direcciones-container">
            <p><strong>Selecciona una dirección de envío:</strong></p>
            {% for direccion in direcciones %}
                <div>
                    <input type="radio" id="direccion_{{ direccion.id }}" name="direccion" value="{{ direccion.id }}"
                        {% if direccion.id == direccion_principal.id %} checked {% endif %}>
                    <label for="direccion_{{ direccion.id }}">
                        <span>Dirección: {{ direccion.direccion }} Ciudad: {{ direccion.ciudad }} Departamento: {{ direccion.departamento }}</span>
                        {% if direccion.codigo_postal %}
{#                            <span>{{ direccion.codigo_postal }}</span>#}
                        {% else %}
                            <span>No especificado</span>
                        {% endif %}
                    </label>
                </div>
            {% endfor %}
        </div>

    </div>
    <script src="{% static 'myapp/js/confirmar_pago.js' %}"></script>
{% endblock %}
