{% extends 'base.html' %}
{% block title %}Busqueda de productos{% endblock %}
{% block content %}
{% load static %}
    <div class="busquedadeproductostienda">
       <div class="logo">
           <h1>Tienda: {{ tienda.nombre }}<span> Compra con facilidad cada uno de los productos </span></h1>
       </div>

        <button id="boton-carrito" class="btn btn-primary boton-carrito" data-toggle="modal" data-target="#modalCarrito">
            <i class="fas fa-shopping-cart"></i> Ver Carrito
        </button>

<div id="tienda">
    {% for producto_tienda in productosTiendas %}
        <div class="producto">
            {% if producto_tienda.imagen %}
                <img src="{{ producto_tienda.imagen.url }}" alt="Imagen de {{ producto_tienda.producto.nombre }}">
            {% else %}
                <img src="{% static 'myapp/img/Default.jpg' %}" alt="Imagen por defecto">
            {% endif %}
            <p class="nombre-producto">{{ producto_tienda.producto.nombre }}</p>
            <p class="descripcion-producto">{{ producto_tienda.producto.descripcion }}</p>
            <p class="precio-producto">${{ producto_tienda.precio_unitario|floatformat:2 }}</p>

            {% for promocion in producto_tienda.promociones.all %}
                {% if promocion.activo %}  <!-- Verifica si la promoción está activa -->
                    <p style="color: green; font-weight: bold;">Descuento: {{ promocion.descuento_porcentaje }}%</p>
                {% endif %}
            {% endfor %}

            <p class="cantidad-producto">
                {% if producto_tienda.cantidad > 0 %}
                    Cantidad disponible: {{ producto_tienda.cantidad }}
                    {% for promocion in producto_tienda.promociones.all %}
                        {% if promocion.activo %}
                            {% with descuento=promocion.descuento_porcentaje %}
                                <button class="agregar-al-carrito btn btn-primary"
                                    data-product-id="{{ producto_tienda.id }}"
                                    data-descuento="{{ descuento }}">Agregar al carrito</button>
                            {% endwith %}
                        {% endif %}
                    {% empty %}
                        <button class="agregar-al-carrito btn btn-primary"
                            data-product-id="{{ producto_tienda.id }}"
                            data-descuento="0">Agregar al carrito</button>
                    {% endfor %}
                {% else %}
                    <span style="color: red;">No disponible</span>
                {% endif %}
            </p>
        </div>
    {% empty %}
        <p>No hay productos disponibles.</p>
    {% endfor %}
</div>

    <div id='contenedor-carrito' class="deslizador cerrar">
        <button id="cerrar-carrito">X</button>
        <!-- modal de los productos en el carrito -->
        <h2 class="titulo-modal">Productos en el carrito</h2>
        <div id='carrito'>
            <div id="contenedor-productos-carrito">
                <table id="tabla-carrito">
                    <thead id="encabezado-tabla-carrito">
    <tr>
        <th class="columna-nombre">Nombre del producto</th>
        <th class="columna-cantidad">Cantidad</th>
        <th class="columna-precio">Precio unitario</th>
        <th class="columna-descuento">Descuento</th>
        <th class="columna-precio-actualizado">Precio actualizado</th>
        <th class="columna-precio-total">Precio total</th>
        <th class="columna-opciones">Opciones</th>
    </tr>
</thead>
<tbody id="cuerpo-tabla-carrito"></tbody>
                </table>
            </div>
        </div>
        <div id='controles-monto'>
    <table>
        <tbody>
            <tr id='fila-subtotal'>
                <td id="subtotal-label">Subtotal:</td>
                <td id="subtotal-carrito">0.00</td>
            </tr>
            <tr id='fila-iva'>
                <td id="iva-label">IVA (19%):</td>
                <td id="iva-carrito">0.00</td>
            </tr>
            <tr id='fila-total'>
                <td id="total-label">Total:</td>
                <td id="total-carrito">0.00</td>
            </tr>
            <tr id="fila-promocion-pago">
                <td id="contenedor-promocion"></td>
                <td class="d-flex justify-content-end align-items-center gap-2">
                    <button id="vaciar-carrito" class="btn btn-danger me-2">
                        <i class="fas fa-trash"></i> Vaciar todo
                    </button>
                    <button id="pagar" class="btn btn-success ms-2">Pagar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
    </div>
    <div id="superposicion-carrito"></div>

    <script src="{% static 'myapp/js/busqueda.js' %}"></script>
{% endblock %}
