{% extends 'inicio/base_home.html' %}
{% block content %}
{% load static %}

    <html>
        <head>
    <link rel="stylesheet" href="{% static 'css/ver_productos.css' %}">
        <title>Catálogo ISC</title>
    </head>
    <body>
    <main>
        <div class="gridCards">
        <div class="image-card">
          <img alt="pc1" 
          src="https://caracol.com.co/resizer/v2/JRV3OTJ5HJGDDNJR2UTZCNK4NE.jpg?auth=05e1ffb7b200ad99db413b7698aef327ddfcc7555fbf67542557f4387ef39a44&width=650&height=488&quality=70&smart=true" onClick="">
        </div>
          <div class="text">
            <p class="precio">$300</p>
            <p class="info">Aqui encontraras lo que desees</p>
            <button class="btn">Añadir al carrito</button>
          </div>
        </div>
        
        <div class="gridCards">
        <div class="image-card">
          <img alt="pc2" 
          src="https://caracol.com.co/resizer/v2/JRV3OTJ5HJGDDNJR2UTZCNK4NE.jpg?auth=05e1ffb7b200ad99db413b7698aef327ddfcc7555fbf67542557f4387ef39a44&width=650&height=488&quality=70&smart=true">
        </div>
          <div class="text">
            <p class="precio">$300</p>
            <p class="info">Aqui encontraras lo que desees</p>
            <button>Añadir al carrito</button>
          </div>
        </div>
        
        <div class="gridCards">
        <div class="image-card">
          <img alt="pc4" 
          src="https://caracol.com.co/resizer/v2/JRV3OTJ5HJGDDNJR2UTZCNK4NE.jpg?auth=05e1ffb7b200ad99db413b7698aef327ddfcc7555fbf67542557f4387ef39a44&width=650&height=488&quality=70&smart=true">
        </div>
          <div class="text">
            <p class="precio">$300</p>
            <p class="info">Aqui encontraras lo que desees</p>
            <button>Añadir al carrito</button>
          </div>
        </div>
        
        <div class="gridCards">
        <div class="image-card">
          <img alt="pc5" 
          src="https://caracol.com.co/resizer/v2/JRV3OTJ5HJGDDNJR2UTZCNK4NE.jpg?auth=05e1ffb7b200ad99db413b7698aef327ddfcc7555fbf67542557f4387ef39a44&width=650&height=488&quality=70&smart=true">
        </div>
          <div class="text">
            <p class="precio">$300</p>
            <p class="info">Aqui encontraras lo que desees</p>
            <button>Añadir al carrito</button>
          </div>
        </div>
        
        <div class="gridCards">
        <div class="image-card">
          <img alt="pc7"  
          src="https://caracol.com.co/resizer/v2/JRV3OTJ5HJGDDNJR2UTZCNK4NE.jpg?auth=05e1ffb7b200ad99db413b7698aef327ddfcc7555fbf67542557f4387ef39a44&width=650&height=488&quality=70&smart=true">
        </div>
          <div class="text">
            <p class="precio">$300</p>
            <p class="info">Aqui encontraras lo que desees</p>
            <button>Añadir al carrito</button>
          </div>
        </div>
        
        <div class="gridCards">
        <div class="image-card">
          <img alt="pc8" 
          src="https://caracol.com.co/resizer/v2/JRV3OTJ5HJGDDNJR2UTZCNK4NE.jpg?auth=05e1ffb7b200ad99db413b7698aef327ddfcc7555fbf67542557f4387ef39a44&width=650&height=488&quality=70&smart=true">
        </div>
          <div class="text">
            <p class="precio">$300</p>
            <p class="info">Aqui encontraras lo que desees</p>
            <button>Añadir al carrito</button>
          </div>
        </div>
        
      </main>
    </body>
    <script src="{% static  'js/ver_productos.js' %}"></script>
    </html>
{% endblock %}