{% extends 'administrador/base.html' %}

{% block title %} Ver Producto {% endblock %}

{% block content %}
<main class="d-flex justify-content-center align-items-center vh-100">
    <div class="container col-md-6">

        <h2>Producto en tienda</h2>
        <form action="{% url 'leer_proveedor' producto_tienda.id %}" method="POST">
            {% csrf_token %}

         <!-- Image Display Section -->
            <div class="text-center mb-4">
                <img src="{{ producto_tienda.imagen.url }}" alt="Imagen del Producto" class="img-fluid" style="max-width: 300px;">
            </div>

            <div class="form-group">
                <label for="txtProductoId">Producto:</label>
                <select id="txtProductoId" name="txtProductoId" class="form-select" disabled>
                    <option value="{{ producto_tienda.producto.id }}" selected>{{ producto_tienda.producto.nombre }}</option>
                    {% for producto in productos %}
                        <option value="{{ producto.id }}">{{ producto.nombre }}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label for="name" class="form-label">Proveedor:</label>
                <select id="txtProveedor_id" name="txtProveedor_id" class="form-select" disabled>
                    <option value="{{ producto_tienda.proveedor.id }}" selected>{{ producto_tienda.proveedor.razon_social }}</option>
                    {% for proveedor in proveedores %}
                        <option value="{{ proveedor.id }}">{{ proveedor.razon_social }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="txtUsuario" class="form-label">Nombre del Usuario:</label>
                <input type="text" id="txtUsuario" name="txtUsuario" class="form-control" value="{{ producto_tienda.usuario.first_name }}" disabled>
            </div>

            <div class="form-group">
                <label for="txtPrecioUnitario" class="form-label">Precio Unitario:</label>
                <input type="text" id="txtPrecioUnitario" name="txtPrecioUnitario" class="form-control" value="{{ producto_tienda.precio_unitario }}" disabled>
            </div>

            <div class="form-group">
                <label for="txtCantidad" class="form-label">Cantidad:</label>
                <input type="number" id="txtCantidad" name="txtCantidad" class="form-control" value="{{ producto_tienda.cantidad }}" disabled>
            </div>

            <div class="form-group">
                <label for="txtEstado" class="form-label">Estado:</label>
                <select id="txtEstado" name="txtEstado" class="form-control" disabled>
                    <option value="activo" {% if producto_tienda.estado == 'activo' %} selected {% endif %}>Activo</option>
                    <option value="inactivo" {% if producto_tienda.estado == 'inactivo' %} selected {% endif %}>Inactivo</option>
                </select>
            </div>
            <br>
            <button type="button" class="btn btn-secondary" onclick="window.location.href='/index_producto'">Volver</button>
        </form>
    </div>
</main>
{% endblock %}
