{% extends 'administrador/base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Pagina Ver_Producto</title>
        <link rel="stylesheet" href="{% static 'css/vista_producto.css' %}">
	</head>
	<body>
		<header>
			<h1>Tienda Online</h1>
		</header>

		<div class="container-title">Categoria: <label>Frutas</label></div>
        
		<main>
			<div class="container-img">
                <img src="{% static  'img/manzana.jpg' %}" alt="" width="">
			</div>
			<div class="container-info-product">
				<div class="container-price">
                    <h2>Manzana Roja</h2>
					<span>$3.000.00</span>
					<i class="fa-solid fa-angle-right"></i>
				</div>

				<div class="container-details-product">
					<div class="form-group">
						<label for="colour">Color</label>
						<select name="colour" id="colour">
							<option disabled selected value="">
								Escoge una opción
							</option>
							<option value="rojo">Rojo</option>
							<option value="blanco">Blanco</option>
							<option value="beige">Beige</option>
						</select>
					</div>
					<div class="form-group">
						<label for="size">Tamaño</label>
						<select name="size" id="size">
							<option disabled selected value="">
								Escoge una opción
							</option>
							<option value="40">Pequeña</option>
							<option value="42">Mediana</option>
							<option value="43">Grande</option>
						</select>
					</div>
					<button class="btn-clean">Limpiar</button>
				</div>

				<div class="container-add-cart">
					<div class="container-quantity">
						<input type="number" placeholder="1" value="1" min="1" class="input-quantity"/>
						<div class="btn-increment-decrement">
							<i class="fa-solid fa-chevron-up" id="increment"></i>
							<i class="fa-solid fa-chevron-down" id="decrement"></i>
						</div>
					</div>
					<button class="btn-add-to-cart">
						<i class="fa-solid fa-plus"></i>
						Añadir al carrito
					</button>
				</div>

				<div class="container-description">
					<div class="title-description">
						<h4>Descripción</h4>
						<i class="fa-solid fa-chevron-down"></i>
					</div>
					<div class="text-description">
						<p>
							"¿Estás buscando una opción de snack saludable y delicioso? ¡No busques más! Nuestra jugosa y refrescante manzana es la elección perfecta para satisfacer tus antojos y cuidar tu salud al mismo tiempo. Con su piel brillante y colorida, esta manzana es un festín para los ojos y el paladar. Su dulzura natural se equilibra perfectamente con un toque de acidez, creando una experiencia gustativa irresistible. Además, está repleta de nutrientes esenciales como fibra, vitaminas y antioxidantes que te ayudarán a mantenerte en forma y energizado durante todo el día. Ya sea que la disfrutes sola, en rodajas con un poco de mantequilla de maní o como ingrediente en tus recetas favoritas, nuestra manzana siempre será una elección sabrosa y saludable. ¡No esperes más y añade esta delicia a tu cesta de la compra hoy mismo!"
						</p>
					</div>
				</div>

				<div class="container-additional-information">
					<div class="title-additional-information">
						<h4>Información adicional</h4>
						<i class="fa-solid fa-chevron-down"></i>
					</div>
					<div class="text-additional-information hidden">
						<p>-----------</p>
					</div>
				</div>

				<div class="container-reviews">
					<div class="title-reviews">
						<h4>Reseñas</h4>
						<i class="fa-solid fa-chevron-down"></i>
					</div>
					<div class="text-reviews hidden">
						<p>-----------</p>
					</div>
				</div>

				<div class="container-social">
					<span>Compartir</span>
					<div class="container-buttons-social">
						<a href="#"><i class="fa-solid fa-envelope"></i></a>
						<a href="#"><i class="fa-brands fa-facebook"></i></a>
						<a href="#"><i class="fa-brands fa-twitter"></i></a>
						<a href="#"><i class="fa-brands fa-instagram"></i></a>
						<a href="#"><i class="fa-brands fa-pinterest"></i></a>
					</div>
				</div>
			</div>
		</main>

		<script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
        <script src="{% static  'js/index.js' %}"></script>
	</body>
</html>
{% endblock %}